// === FONT ===
$font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
// sizes
$fs-small: 12px;
$fs-normal: 16px;
$fs-medium: 20px;
$fs-large: 36px;
$fs-x-large: 48px;
// weights
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 600;
$fw-bold: 700;

// === COLORS ===
$blue: #305eca;
$lightBlue: #44a0d3;
$purple: #7e7ef1;
$gray: #f3f3f3;
$mediumGray: #c6c6c6;
$darkGray: #b0acac;
$darkerGray: #707070;
$red: #ff0000;
